.footer {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    background-color: $green;
    text-align: center;
    p {
        font-family: 'OpenSans-Light';
          font-size: 13px;
          margin-bottom: 4px;
          display: inline-block;
          color: white;
          margin: 10px;
          text-align: center;
     }
}
@media only screen and (min-width : 798px ) and (max-width : 1119px) {
    .footer  {
       margin-top: 41px;
    }
}
@media only screen and (min-width : 1120px) {
    .footer  {
       margin-top: 65px;
    }
}
