.heart {
    position: relative;
    height: 50px;
    width: 50px;
    top: -190px;
    left: 235px;
    cursor: pointer;
    img {
        position: absolute;
        width: 55%;
    }
    &:hover {
        transform: scale(1.1);
    }

}
