@import "variables";
@import "header";
@import "footer";
@import "heart";
@import "recipe";
@font-face {
    font-family: BalooBhaina-Regular;
    src: url('img_fonts/BalooBhaina-Regular.ttf');
}
@font-face {
    font-family: OpenSans-Light;
    src: url('img_fonts/OpenSans-Light.ttf');
}
.body {
    width: 100%;
    height: 100%;
    background-image: url('img_fonts/macaroons_2.1.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
}
p {
    font-family: 'OpenSans-Light';
    font-size: 14px;
    margin: 10px 0;
    color: $green;
}
.page-container {
   margin: 10px auto;
   position: relative;
   width: 80%;
   height: 100%;
   overflow: hidden;
   text-align: center;
}
.recipe-wrapper {
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid $green;
    text-align: center;
}
.recipe-image {
    position: relative;
    top: -1em;
    img {
            width: 100%;
            border: 1px solid #975992;
            border-top-right-radius: 85px;
            border-bottom-left-radius: 85px;
        }
}

.text-wrapper {
    position: relative;
    a {
        font-size: 20px;
        font-family: 'BalooBhaina-Regular';
        color: $violet;
        height: 35px;
        display: block;
        cursor: pointer;
        text-decoration: none;
        text-shadow: 5px 5px 5px $shadow;
        &:hover {
            transform: scale(1.1);
            color: $green;
        }
        &:active {
            color: #9E9E9E;
        }
    }
}
.likes-quantity{
    font-size: 25px;
    float: right;
    padding: 0 5px;
    img {
        width: 25px;
        display: inline-block;
        border: none;
        margin: 0 15px;
        border-radius: 0;
        vertical-align: middle;
    }
    div {
        display: inline-block;
        vertical-align: middle;
        color: $green;
    }
}
.back-arrow {
    width: 70px;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
    img {
        width: 55%;
        border-radius: 0;
        border: none;
        margin: 0;
    }
    &:hover {
        transform: scale(1.1);
        opacity: 0.5;
    }
}

@media only screen and (min-width : $mobile-breakpoint ) and (max-width : $middle-breakpoint) {
    .page-container {
       width: 400px;
       }
       .recipe-wrapper {
           width: 300px;
           height: 320px;
           .recipe-image img {
               width: 100%;
               height: 200px;
               border-top-right-radius: 108px;
               border-bottom-left-radius: 108px;
           }
       }
       .back-arrow {
           top: 1.5rem;
           left: 2rem;
           img {
               width: 85%;
           }
       }
    }
@media only screen and (min-width : $middle-breakpoint) and (max-width : $desktop-breakpoint) {
    .page-container {
       width: 800px;
       height: 835px;
       .recipe-wrapper {
           width: 300px;
           height: 320px;
           margin: 20px;
           .recipe-image img {
               width: 100%;
               height: 200px;
               border-top-right-radius: 115px;
               border-bottom-left-radius: 115px;
           }
       }
    }
    .text-wrapper {
        margin-bottom: 140px;
    }
    .back-arrow {
        top: 1rem;
        left: 5rem;
        img {
            width: 100%;
        }
    }
}
@media only screen and (min-width : $desktop-breakpoint) {
    .page-container {
       width: 1040px;
       margin-bottom: 140px;
       .recipe-wrapper {
           width: 300px;
           height: 320px;
           margin: 10px;
           padding: 10px;
           .recipe-image  img{
               width: 100%;
               height: 200px;
               border-top-right-radius: 125px;
               border-bottom-left-radius: 125px;
           }
       }
    }
    .back-arrow {
        top: 1rem;
        left: 5rem;
        img {
            width: 100%;
        }
    }
}
