@import "variables";
@import "header";
@import "footer";
@import "heart";
@import "recipe";
@font-face {
    font-family: BalooBhaina-Regular;
    src: url('img_fonts/BalooBhaina-Regular.ttf');
}
@font-face {
    font-family: OpenSans-Light;
    src: url('img_fonts/OpenSans-Light.ttf');
}
body {
    background-image: url('img_fonts/macaroons_2.1.jpg');
    background-repeat: no-repeat;
     background-origin: content-box;
}

p {
    font-family: 'OpenSans-Light';
    font-size: 14px;
    margin: 10px 0;
    color: $green;
}
.page-container {
   margin: 0 auto;
   margin-top: 20px;
   position: relative;
   width: 400px;
   overflow: hidden;
   text-align: center;
}
.recipe-wrapper {
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 320px;
    border: 1px solid $green;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.recipe-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 140px;
    border: 1px solid $violet;
    img {
        width: 300px;
    }
}
.text-wrapper {
    position: relative;
    top: -30px;
    a {
        font-size: 20px;
        font-family: 'BalooBhaina-Regular';
        color: $violet;
        height: 44px;
        display: block;
        cursor: pointer;
        text-decoration: none;
        text-shadow: 5px 5px 5px $shadow;
        &:hover {
            transform: scale(1.1);
            color: $green;
        }
        &:active {
            color: #9E9E9E;
        }
    }
}
.likes-quantity{
    position: absolute;
    right: 15rem;
    top: 7rem;
    font-size: 25px;
    text-align: left;
    height: 31px;
    line-height: 31px;
    img {
        width: 25px;
        display: inline-block;
        border: none;
        margin: 0 15px;
        border-radius: 0;
        vertical-align: middle;
    }
    div {
        display: inline-block;
        vertical-align: middle;
        color: $green;
    }
}

@media only screen and (min-width : $mobile-breakpoint ) and (max-width : $middle-breakpoint) {
    .page-container {
       width: 400px;
    }
}
@media only screen and (min-width : $middle-breakpoint) and (max-width : $desktop-breakpoint) {
    .page-container {
       width: 800px;
    }
}
@media only screen and (min-width : $desktop-breakpoint) {
    .page-container {
       width: 1040px;
    }
    .recipe-wrapper {
        padding: 10px;
        margin: 10px;
    }

}
