$red: #e51837;
$h1-height: 20px;
$blue: #e6f0f9;
$title-blue: #272959;
$table-head-blue: #6f90a1;
$green-input: #44e44a;

$green: #b8f0b8;
$blue-sq: #cbcbfb;
$violet: #f7c9f7;
$pink: #f9dcde;
